body{
    background-color: hsl(212, 45%, 89%);
    text-align:  center;
}

.card{
    margin: auto;
    margin-top: 7%;
    text-align: center;
    padding-top: 2rem;
    background-color: hsl(0, 0%, 100%);
    border-style: solid;
    border-radius: 4%;
    width: 28rem;
    height: 40rem;
}

.inner{
    width: 25rem;
    margin: auto;
}

.image{
    width: 23rem;
    height: auto;
    border-radius: 4%;
}


.title{
    font-weight: bold;
    font-size: 1.65rem;
    font-family: sans-serif;
    color: hsl(218, 44%, 22%);
}

.paragraph{
    font-size: 1.4rem;
    font-family: sans-serif;
}

.colored{
    color: hsl(212, 45%, 89%);
}

.text{
    margin: auto;
    width: 21rem;
}